@property --gradientStart {
  syntax: "<color>";
  inherits: true;
  initial-value: #61bfd9;
}

@property --gradientEnd {
  syntax: "<color>";
  inherits: true;
  initial-value: #0551b4;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

:root {
  --maxWidth: 1140px;
  --icon-wh: 16px;

  will-change: scroll-position;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;

  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
}

input {
  font: inherit;
}

figure,
button {
  all: unset;
  margin: 0;
}

button {
  cursor: pointer;
}

/* Utility classes -----------------------------------------------------------*/
.btn--text {
  transition: --gradientEnd 1s, background 0.25s;

  display: inline-block;
  padding: 2px 5px;
  border-radius: 3px;
  text-decoration: none;
  background: var(--gradientEnd);
  color: #fffd;

  &:hover {
    background: var(--gradientStart);
    color: #000;
  }
}

/* App -----------------------------------------------------------------------*/
.app {
  position: relative;
  z-index: 1;
}

.app__header {
  transition: --gradientStart 3s, --gradientEnd 3s;

  background-image: linear-gradient(
    242deg,
    var(--gradientStart) 16%,
    var(--gradientEnd) 67%
  );
}

.app__header__content {
  display: grid;

  position: relative;
  overflow: hidden;
  max-width: var(--maxWidth);
  margin: auto;

  @media (--mq-l) {
    overflow: visible;
  }
}

.header__jeffs {
  position: absolute;
  max-width: 100%;
  width: 496px;
  height: 622px;
  opacity: 0.3;
  overflow: hidden;
  z-index: 1;
  background: var(--gradientStart, #61bfd9);

  & > img {
    will-change: opacity, transform;

    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    opacity: 0;
    background: var(--gradientEnd, #61bfd9);

    &:first-child {
      opacity: 1;
      z-index: 2;
    }
  }

  @media (--mq-l) {
    left: -30px;
    opacity: 1;
    box-shadow: 0 48px 64px -24px rgba(0, 0, 0, 0.3);
  }

  @media (--mq-xl) {
    top: 60px;
  }
}

.header__words {
  position: relative;
  padding: 15px;
  text-align: right;
  color: #fff;
  z-index: 1;

  @media (--mq-m) {
    background: none;
  }
}

.credit {
  margin: 0;

  & span,
  & a {
    opacity: 0.75;
  }

  & a {
    font-weight: 500;
    text-decoration: line-through;

    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
}

.description {
  margin: 50px 30px 90px;

  @media (--mq-m) {
    margin: 80px 0 90px;
  }
}

.description__title {
  margin: 0;
  font-size: 70px;
  font-weight: 600;
  letter-spacing: -2px;

  @media (--mq-l) {
    font-size: 150px;
  }

  @media (--mq-xl) {
    font-size: 202px;
  }
}

.description__strapline {
  margin: 7px 0 0 auto;
  font-size: 24px;
  font-weight: 500;

  @media (--mq-s) {
    width: 60%;
  }

  @media (--mq-m) {
    width: 40%;
    font-size: 28px;
  }

  @media (--mq-l) {
    width: 55%;
  }

  @media (--mq-xl) {
    width: 55%;
    font-size: 39px;
    text-align: left;
    opacity: 0.7;
  }
}

/* App body ------------------------------------------------------------------*/
.app__content {
  position: relative;
  max-width: var(--maxWidth);
  margin: auto;
}

/* The Jeffness ----------------------*/
.jeffness {
  display: flex;
  flex-direction: column;

  position: relative;
  transform: translate3D(0, -50%, 0);
  margin: 0 15px;
  font-size: 20px;
  text-align: center;
  box-shadow: 0 23px 50px -13px rgba(0, 0, 0, 0.3);
  background: #fff;
  color: initial;
  z-index: 1;

  @media (--mq-l) {
    flex-direction: row;
    align-items: center;

    position: absolute;
    right: 0;
  }
}

.jeffness__label,
.jeffness__btn {
  flex: 1 0 100%;

  line-height: 36px;
}

.jeffness__label {
  padding: 0.5em 1em;

  & > span {
    display: inline-block;
  }

  @media (--mq-m) {
    & > span {
      display: inline;
    }
  }

  @media (--mq-l) {
    flex: 0 0 auto;
    padding: 0 2em;
  }
}

.jeffness__input {
  flex: 0 0 auto;

  transition: --gradientEnd 3s;

  width: 5ch;
  padding: 0;
  border: 1px solid var(--gradientEnd);
  border-radius: 3px;
  text-align: center;
}

.jeffness__btn {
  transition: --gradientEnd 3s;

  /* Add 2px to account for border on input */
  padding: calc(0.5em + 2px);
  background: var(--gradientEnd);
  color: #fff;

  @media (--mq-l) {
    flex: 0 0 auto;
    padding: 1em 2em;
  }
}

/* Acknowledgements ------------------*/
.message {
  max-width: 460px;
  text-align: center;
}

.main {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;

  @media (--mq-l) {
    margin: 200px auto 0;
  }
}

.main__quotes {
  & p {
    line-height: 1.5;
  }
}

.main__acknowledgements {
  position: absolute;

  display: grid;
  place-content: center;

  transition: 2s opacity 2.75s;
  opacity: 0;
  pointer-events: none;

  @nest :target & {
    opacity: 1;
  }

  & p {
    margin: 1rem 0 0;

    &:first-child {
      margin: 0;
    }
  }

  & a[href="#"] {
    padding: 0.5rem;
    color: white;
  }
}

.acknowledgements__content {
  margin: 0 40px;
  padding: 1rem;
  pointer-events: auto;
  box-shadow: 0 5px 10px #0009;
  background: #fff;
}

/* Github Corner -------------------------------------------------------------*/
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

.github-corner {
  --wh: 80px;

  position: absolute;
  top: 0;

  display: block;
  width: var(--wh);
  height: var(--wh);
  z-index: 2;

  transform: scaleX(-1);
  left: 0;

  @media (--mq-xl) {
    transform: scaleX(1);
    left: initial;
    right: 0;
  }

  &:hover {
    & .octo-arm {
      @media (min-width: 500px) {
        animation: octocat-wave 560ms ease-in-out 3;
      }
    }
  }

  & > svg {
    transition: fill 3s;

    fill: var(--gradientStart);
    color: #fff;

    @media (--mq-xl) {
      fill: var(--gradientEnd);
    }
  }

  & .octo-arm,
  & .octo-body {
    fill: currentColor;
  }

  & .octo-arm {
    transform-origin: 130px 106px;
  }
}
